<!DOCTYPE HTML>
<html lang="ru">

<head>
    <title>PXL PRO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="fonts">
    <link rel="stylesheet" href="images">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

</head>

<body>
    <div class="wrapper">
        
            <img src="images/1.png" id="i1">
            <img src="images/2.png" id="i2">
            <img src="images/3.png" id="i3">
        
        
        <div class="popap">
            <div class="header">
                <h1>Регистрация</h1>
                <button class="btn-head"><img src="images/cross.png"></button>
            </div>
            <div id="app">
                <div class="autocomplete" style="width:300px;">
                    <input @blur="onBlur=true" @focus="onFocus = true;onBlur = false;" v-model="autocomplete"
                        @keyDown="keyDown" class="cities" type="text" name="autoomplete" placeholder="Город">

                    <div class="autocomplete-items">
                        <div :class="currentFocus == index ? 'autocomplete-active' : ''" v-for="(i, index) in arr"
                            v-if="onFocus && i.substr(0, autocomplete.length).toUpperCase() == autocomplete.toUpperCase()"
                            @click="autocomplete = i; onFocus = false;">
                            <strong>{{i.substr(0, autocomplete.length)}}</strong>{{i.substr(autocomplete.length)}}
                        </div>
                    </div>
                </div>
            </div>
            <form class="top-form">
                <input type="text" name="fio" placeholder="Имя Фамилия">
                <input type="text" name="phone" placeholder="Телефон">
                <input type="text" name="comments" placeholder="Комментарий">
            </form>
            <form class="middle-form">
                <p style="opacity: 0.5;font-size: 16px">Мастер-класс</p>
                <label class="radio non-active" id="first"><input type="radio" name="g"><span></span> Экономия на онлайн-шопинге</label>
                <label class="radio non-active" id="second"><input type="radio" name="g"><span></span> Мастер-класс</label>
                <label class="radio non-active" id="third"><input type="radio" name="g" ><span></span> Лучшие площадки</label>
                <label class="radio non-active" id="fourth"><input type="radio" name="g"><span></span> Мастер-класс</label>
            </form>
            <form class="bottom-form">
                <p style="opacity: 0.5;font-size: 16px">Время проведения</p>
                <label class="checkbox"><input type="checkbox" id="checkbox"><span></span>12:00 – 14:00</label>
                <label class="checkbox"><input type="checkbox" id="checkbox"><span></span>15:00 – 17:00</label>
                <label class="checkbox"><input type="checkbox" id="checkbox"><span></span>19:00 – 21:00</label>
            </form>
            <div class="accept">
                <label for="accept" id = "on" style="margin-right: 14px;">Онлайн</label><input type="checkbox" id="accept"><label for="accept" id="off">Офлайн</label>
            </div>
            
            <div class="slidecontainer">
                <p style="font-size: 16px;opacity: 0.5;">Сколько вы готовы заплатить за мероприятие?</p>
                <p><span id="demo"></span> Р</p>
                <input type="range" min="0" max="100" value="0" class="slider" id="myRange" step="1">
            </div>
            <footer>
                <button type="submit">Отправить</button>
                <div style="margin: -15px 0px 0 46px;">
                    <p style="font-size: 16px;opacity: 0.5;color: white;">Нажимая на кнопку, вы соглашаетесь</p>
                    <p style="text-decoration: underline;font-size: 16px;opacity: 0.5;color: white;">с Политикой обработки персональных данных</p>
                </div>
            </footer>
            



        </div>
    </div>
    <script src='script.js'></script>
    <script src='script1.js'></script>
</body>

</html>
